# Игнорирование виртуальной среды Python
venv/
.venv/


# Игнорирование файлов с окружением
.env


# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.idea/
**/.idea/